<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'clients/index.css' %}">
	<title>Title</title>

</head>
<body>

<section id="section-search">
	<br>
	<div class="search-wrapper">
		<form id="search-form" action="{% url 'clients:search' %}">
			<div class="seach-by sf-element">
				<div class="category">{{ form.category }}</div>
				<div id="query">{{ form.query }}</div>
			</div>
			<div>
				<button type="submit" id="search-button" class="sf-element">Search</button>
			</div>
		</form>
	</div>
</section>

<section id="clients">
	<div class="clients-wrapper">
		<div class="title">
			Clients Details
		</div>
		<br>
		<div class="all-clients">
			{% for client in results %}
				<form action="{% url 'clients:edit_client' client.id %}" method="get">
					{% csrf_token %}
				<div class="client-details">
					<div class="client-detail client-name">
						<div class="label">Name</div>
						<div class="element">{{ client.name }}</div>
					</div>
					<div class="client-detail date">
						<div class="label">Renewal Date</div>
						<div class="element clients-renewal-date">{{ client.renewal_date }}</div>
					</div>

					<div class="client-detail amount">
						<div class="label">Amount</div>
						<div class="element">{{ client.amount }}</div>
					</div>
				</div>
					<div class="client-detail edit-button">
						<button id="edit">View/Edit</button>
					</div>
			</form>
			{% endfor %}
			{% if message %}
				<h1 style="color: red;">{{ message}}</h1>
			{% endif %}
		</div>
	</div>
</section>

<form class="add-client" action="{% url 'clients:register' %}">
	<button id="add-client">+</button>
</form>
</body>
</html>

