
:root {
    --mobile-medium: 32px;
    --mobile-small: 24px;
}


.category {
    font-size: var(--mobile-medium);
    border: none;
    background: none;

}

.sf-element {
    border-radius: 8px;
    display: flex;

}

select {
    padding: 8px;
    background: none;
    border-radius: 8px;
}


option {
    font-size: var(--mobile-small);
}

input#query {
    font-size: 32px;
    padding: 8px;
    border-radius: 8px;
    /*border: none;*/
}

button#search-button {
    font-size: var(--mobile-medium);
    padding: 8px;
    border-radius: 10%;
    background: none;
}
